/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    color: #555;
}

#home, #services, #news, #about, #contact, #faqs, #invest, #socials {
    max-width: 800px;
    margin: auto;
}
